.App {
  align-items: center;
  background: linear-gradient(to bottom, skyblue, rgb(58, 97, 215), black);
  /* background: url(./utils/background.webp) no-repeat center center fixed; */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  /* z-index: -1; */
}

.starburst-background {
  position: absolute;
  top: -25%;
  right: 0%;
  z-index: 0;
  width: 100vw;
  height: 70vh;
  background: 
    /* radial-gradient(
      circle,
      rgba(0, 187, 255, 0.7) 0%,
      rgba(0, 187, 255, 0) 90%
    ), */
    conic-gradient(
      from 0deg,
      royalblue 0%,
      rgba(0, 187, 255, 0) 2.5%,
      royalblue 5%,
      rgba(0, 187, 255, 0) 7.5%,
      royalblue 10%,
      rgba(0, 187, 255, 0) 12.5%,
      royalblue 15%,
      rgba(0, 187, 255, 0) 17.5%,
      royalblue 20%,
      rgba(0, 187, 255, 0) 22.5%,
      royalblue 25%,
      rgba(0, 187, 255, 0) 27.5%,
      royalblue 30%,
      rgba(0, 187, 255, 0) 32.5%,
      royalblue 35%,
      rgba(0, 187, 255, 0) 37.5%,
      royalblue 40%,
      rgba(0, 187, 255, 0) 42.5%,
      royalblue 45%,
      rgba(0, 187, 255, 0) 47.5%,
      royalblue 50%,
      rgba(0, 187, 255, 0) 52.5%,
      royalblue 55%,
      rgba(0, 187, 255, 0) 57.5%,
      royalblue 60%,
      rgba(0, 187, 255, 0) 62.5%,
      royalblue 65%,
      rgba(0, 187, 255, 0) 67.5%,
      royalblue 70%,
      rgba(0, 187, 255, 0) 72.5%,
      royalblue 75%,
      rgba(0, 187, 255, 0) 77.5%,
      royalblue 80%,
      rgba(0, 187, 255, 0) 82.5%,
      royalblue 85%,
      rgba(0, 187, 255, 0) 87.5%,
      royalblue 90%,
      rgba(0, 187, 255, 0) 92.5%,
      royalblue 95%,
      rgba(0, 187, 255, 0) 97.5%,
      royalblue 100%
    );

  background-size: cover;
  overflow: visible;
}

.stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Stars with glow effect */
.star {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: rgb(233, 233, 175);
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  box-shadow: 0px 0px 5px 3px rgba(195, 177, 107, 0.5);

  animation: twinkle 1.5s infinite ease-in-out alternate;
}

/* @keyframes twinkle {
  0% {
    opacity: 0.5;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    opacity: 0.7;
    transform: scale(1);
  }
} */

/* .star:nth-child(odd) {
  background-color: gold;
} */

/* Position each star */
.star:nth-child(1) {
  top: 10%;
  left: 20%;
}

.star:nth-child(2) {
  top: 9%;
  left: 85%;
}

.star:nth-child(3) {
  top: 35%;
  left: 92%;
}

.star:nth-child(4) {
  top: 35%;
  left: 25%;
}

.star:nth-child(5) {
  top: 55%;
  left: 75%;
}

.star:nth-child(6) {
  top: 70%;
  left: 95%;
}

.star:nth-child(7) {
  top: 40%;
  left: 8%;
}

.star:nth-child(8) {
  top: 22%;
  left: 70%;
}

.star:nth-child(9) {
  top: 55%;
  left: 20%;
}

.star:nth-child(10) {
  top: 55%;
  left: 88%;
}

.star:nth-child(11) {
  top: 70%;
  left: 10%;
}

.star:nth-child(12) {
  top: 82%;
  left: 30%;
}

.star:nth-child(13) {
  top: 85%;
  left: 70%;
}